<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="PacketViewerLogViewer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="SQLitePCLRaw.core" publicKeyToken="1488e028ca7ab535" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.2.669" newVersion="2.0.2.669" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="SQLitePCLRaw.provider.e_sqlite3" publicKeyToken="9c301db686d0bd12" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.1.13.388" newVersion="1.1.13.388" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.4.0" newVersion="4.1.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.6.0" newVersion="4.0.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <PacketViewerLogViewer.Properties.Settings>
      <setting name="ColFontIN" serializeAs="String">
        <value>0, 64, 0</value>
      </setting>
      <setting name="ColBackIN" serializeAs="String">
        <value>238, 255, 238</value>
      </setting>
      <setting name="ColSyncIN" serializeAs="String">
        <value>204, 255, 204</value>
      </setting>
      <setting name="ColSelectIN" serializeAs="String">
        <value>64, 128, 64</value>
      </setting>
      <setting name="ColBarIN" serializeAs="String">
        <value>0, 32, 0</value>
      </setting>
      <setting name="ColFontOUT" serializeAs="String">
        <value>0, 0, 64</value>
      </setting>
      <setting name="ColBackOUT" serializeAs="String">
        <value>238, 238, 255</value>
      </setting>
      <setting name="ColSyncOUT" serializeAs="String">
        <value>204, 204, 255</value>
      </setting>
      <setting name="ColSelectOUT" serializeAs="String">
        <value>64, 64, 128</value>
      </setting>
      <setting name="ColBarOUT" serializeAs="String">
        <value>0, 0, 32</value>
      </setting>
      <setting name="ColFontUNK" serializeAs="String">
        <value>32, 32, 32</value>
      </setting>
      <setting name="ColBackUNK" serializeAs="String">
        <value>White</value>
      </setting>
      <setting name="ColSyncUNK" serializeAs="String">
        <value>238, 238, 238</value>
      </setting>
      <setting name="ColSelectUNK" serializeAs="String">
        <value>128, 32, 32</value>
      </setting>
      <setting name="ColBarUNK" serializeAs="String">
        <value>Black</value>
      </setting>
      <setting name="ColSelectedFontIN" serializeAs="String">
        <value>238, 255, 238</value>
      </setting>
      <setting name="ColSelectedFontOUT" serializeAs="String">
        <value>238, 238, 255</value>
      </setting>
      <setting name="ColSelectedFontUNK" serializeAs="String">
        <value>White</value>
      </setting>
      <setting name="ExternalParseEditor" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="AutoLoadVideo" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="AutoOpenVideoForm" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="PacketListStyle" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="PreParseData" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ColFieldCount" serializeAs="String">
        <value>8</value>
      </setting>
      <setting name="ColField1" serializeAs="String">
        <value>Chocolate</value>
      </setting>
      <setting name="ColField2" serializeAs="String">
        <value>MediumSeaGreen</value>
      </setting>
      <setting name="ColField3" serializeAs="String">
        <value>CornflowerBlue</value>
      </setting>
      <setting name="ColField4" serializeAs="String">
        <value>DarkSalmon</value>
      </setting>
      <setting name="ColField5" serializeAs="String">
        <value>DarkGray</value>
      </setting>
      <setting name="ColField6" serializeAs="String">
        <value>Brown</value>
      </setting>
      <setting name="ColField7" serializeAs="String">
        <value>MidnightBlue</value>
      </setting>
      <setting name="ColField8" serializeAs="String">
        <value>Red</value>
      </setting>
      <setting name="ColField9" serializeAs="String">
        <value>Green</value>
      </setting>
      <setting name="ColField10" serializeAs="String">
        <value>Blue</value>
      </setting>
      <setting name="ColField11" serializeAs="String">
        <value>Purple</value>
      </setting>
      <setting name="ColField12" serializeAs="String">
        <value>Maroon</value>
      </setting>
      <setting name="ColField13" serializeAs="String">
        <value>Navy</value>
      </setting>
      <setting name="ColField14" serializeAs="String">
        <value>Violet</value>
      </setting>
      <setting name="ColField15" serializeAs="String">
        <value>Turquoise</value>
      </setting>
      <setting name="ShowStringHexData" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="AskCreateNewProjectFile" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ParserDataUpdateZipURL" serializeAs="String">
        <value>https://github.com/ZeromusXYZ/PVLV-Data/raw/master/update.7z</value>
      </setting>
      <setting name="UseGameClientData" serializeAs="String">
        <value>False</value>
      </setting>
    </PacketViewerLogViewer.Properties.Settings>
  </userSettings>
</configuration>
